Downloads/*
Imagenes/*

.cache/*
.atom/*

.config/Atom/*
.config/cef_user_data/*
.config/chromium/*
.config/htop/*
.config/gtk-2.0/*
.config/gtk-3.0/*
.config/inkscape/*
.config/Popcorn-Time/*
.config/pulse/*
.config/spotify/*
.config/xfe/*
.config/dconf/*

.local/*
.npm/*
.pki/*
.node-gyp
.gimp-2.8

.bash_history

.Xauthority
.xsession-errors
.xsession-errors.old

.esd_auth
.dmrc
